@font-face {
  font-family: FredokaOne;
  src: url("../fonts/FredokaOne-Regular.ttf");
}
html {
  display: grid;
  min-height: 100%;
}

body {
  display: flex;
  background: #5e5c51;
}

button {
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 12px;
  background: linear-gradient(#ede600 0%, #e37c00 100%);
}

.loginscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}
.loginscreen login-form {
  color: white;
  font-family: FredokaOne;
  display: flex;
  flex-direction: column;
  line-height: 32px;
}
.loginscreen login-form label {
  font-size: large;
  color: #fee571;
}
.loginscreen login-form input {
  color: white;
  background: #1f1b29;
  border: 1px solid gray;
  padding: 12px;
  border-radius: 8px;
}
.loginscreen login-form button {
  padding: 12px 24px;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: larger;
}

navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  background: #a69674;
  border-bottom: 1px solid black;
  align-items: center;
  padding-left: 1em;
  z-index: 100;
}
navbar p {
  align-self: flex-end;
  margin-left: 1em;
}
navbar button {
  margin: 5px;
}

#gamescreen {
  display: flex;
  font-family: FredokaOne;
  font-size: large;
  width: 100%;
  height: 100%;
}
#gamescreen ul {
  color: white;
  list-style: none;
  border-right: 2px solid black;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#gamescreen ul li {
  padding: 1em;
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  text-shadow: 2px 2px black;
  background: #0090ed;
  background: linear-gradient(180deg, #0090ed 0%, #00a8e3 100%);
}
#gamescreen players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 90px;
  margin-left: 1em;
}
#gamescreen players .customer {
  background: #a6924e;
}
#gamescreen players player {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 210px;
  color: black;
  background: #a69674;
  border: 4px solid black;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
}
#gamescreen players player name-container {
  width: 90%;
  position: relative;
  top: -15px;
  display: flex;
  flex-direction: row;
  height: 44px;
}
#gamescreen players player name-container name {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  line-height: 44px;
  background: linear-gradient(#ede600 0%, #e37c00 100%);
  vertical-align: middle;
  border: 3px solid black;
  display: inline-table;
}
#gamescreen players player words {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#gamescreen players player words p {
  margin: 5px 10px;
  cursor: pointer;
}
#gamescreen players player words .selected {
  color: white;
  text-shadow: 2px 2px black;
}
#gamescreen players player selected {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
#gamescreen players player selected .timer {
  color: #b32e2e;
}

/*# sourceMappingURL=coup.css.map */
